<br>
<br>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">CARDS</h1>
        <br>
    </div>
</section>

<div style="direction: rtl;" class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> צור איתנו קשר
                </div>
                <div class="card-body">
                    <form [formGroup]='formGrop' (ngSubmit)='send()'>
                        <div class="form-group">
                            <label for="name"><strong>שם</strong></label>
                            <input formControlName='name' type="text" class="form-control" id="name" aria-describedby="emailHelp" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="email"><strong>כתובת אימייל</strong></label>
                            <input formControlName='email' type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                            <small id="emailHelp" class="form-text text-muted">אנו לא נשתף את המייל שלך עם אף
                                אחד</small>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="message"><strong>הודעה</strong></label>
                            <textarea formControlName='message' class="form-control" id="message" rows="6" required></textarea>
                        </div>
                        <br>
                        <div class="mx-auto">
                            <button type="submit" class="btn btn-primary text-right">שלח אלינו</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div style="direction: rtl;" class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> פרטים</div>
                <div class="card-body">
                    <p>רחוב כהנמן</p>
                    <p> בני ברק</p>
                    <p>ישראל</p>
                    <p>אימייל: feofef@gmail.com</p>
                    <p>טלפון: 03-6887567</p> <a href="https://wa.me/972533040623">
                        <p>לחץ לשליחת וואטצאפ</p><img style="width: 50px;"
                            src="https://i.pinimg.com/originals/e6/85/55/e685555d3879dd2407d668086ee7208a.png">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<br>