.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}
.card{
    margin: auto;
    border:solid 2px gray;
    margin-top: 20px;
    margin-bottom: 20px;
}
.detials{
    direction: rtl;
}
.titles{
    background: chartreuse;
}
.contDetialsAll{
    display: flex;
    flex-direction: row;
}
.contDetials1, .contDetials2 {
    width: 50%;
    padding: 20px;
}

h4{
    background: rgb(226, 226, 226);
}