.navbar-nav{
    display: flex;
    justify-content: right;
    flex-direction: row;
}
#titel{
    color: darkgoldenrod;
    font-size: 50px;
    
}
#logo{
    width: 100px;
    height: 100px;
}
.navbar-dark{
    display: flex; 
    flex-direction: column;
}