.navbar-nav{
    display: flex;
    justify-content: right;
    flex-direction: row;
}
#titel{
    color: darkgoldenrod;
    font-size: 30px;width: auto;
    
}
#logo{
    width: 60px;
    height: 60px;
}
.navbar-dark{
    display: flex; 
    flex-direction: column;
}

