
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="about-title clearfix">
								<h1>קצת על <span>CARDS</span></h1>
								<p class="about-paddingB">רשת מחסני חשמל הוקמה בשנת 1993 והחלה את דרכה כחנות אחת בלבד. היא הראשונה בישראל שאימצה ויישמה את קונספט המחסנים, ובעקבותיה הלכו רשתות אחרות בתחומי צריכה שונים. ב-2007 נרכשה הרשת על ידי חברת אלקטרה מוצרי צריכה.

                                    בשנות פעילותה הרבות רכשה לעצמה מחסני חשמל קהל לקוחות נאמן, שהולך וגדל בהתמדה. כיום, עם 41 סניפים בפריסה ארצית, מקרית שמונה ועד באר שבע, מחסני חשמל היא הרשת המובילה בארץ בשיווק מוצרי חשמל ואלקטרוניקה. הייעוד והתכלית חד משמעיים: הצעת מוצרים מעולים, במחירים האטרקטיביים ביותר וברמות השירות והאמינות הגבוהות ביותר. המכירה מתבצעת בשיטת "שלם וקח": הסחורה נמסרת מיד, במקום, בלי כל המתנה – אלא אם הלקוח דורש אחרת. שיטת רכישה נוחה זו, בשילוב המחירים הנמוכים והשירות המקצועי, מציבה את הלקוח במרכז ומעניקה לו את חוויית הקנייה המושלמת.
                                    
                                    המוצרים הנמכרים במחסני חשמל מוצגים במחלקות שונות, שכל אחת מהן מתמחה בתחום אחר: אלקטרוניקה, מוצרים לבנים (מקררים, מדיחים, מכונות כביסה וכו'), מזגנים, מחשבים, מוזיקה, סלולר וטאבלטים. בכל מחלקה בחנויות פועלים יועצים מיוחדים, שעברו הכשרה מקצועית ולמדו להכיר היטב כל מוצר. היועצים האדיבים מתאימים לכל לקוח את הפריט הנכון עבורו, בהתאם לצרכיו, להעדפותיו וליכולותיו. המגוון רחב מאוד והוא מוצג בפני הלקוחות כך שיוכלו לראות ולהתרשם מכל מוצר. וכן, מותר גם לגעת. המותגים המחכים לכם ברשת הם מהמובילים בעולם בתחום מוצרי החשמל: LG סאוטר, סמסונג, ווירלפול, BOSCH, פיליפס, קונסטרוקטה, שארפ, מילה, BEKO בלרס, קנווד, אלקטרה ועוד. המוצרים לבית המשובחים של מותגים אלה מוצעים ללקוחות הרשת במחירים נמוכים מאלה שדורשות חנויות ורשתות אחרות.
                                    
                                    במהלך שנות פעילותה זכתה מחסני חשמל במגוון פרסים בתחומי הפעילות הקמעונאית ושירות הלקוחות. בין השאר, היא הוכרזה כרשת הזולה והמשתלמת ביותר בסקר של מכון "גיאוקרטוגרפיה" בהנהלת פרופ' דגני עבור "המבחן של המדינה", במקום ראשון בסקר "בדוק" שערכה המועצה לצרכנות, בפרס השירות ע"ש פולה מוזס מטעם העיתון "ידיעות אחרונות", וגם נבחרה כרשת המוכרת, הטובה והמועדפת ביותר בסקר צרכנים שנערך על ידי העיתון "גלובס" ומכון "הגל החדש".
                                    
                                    ב 2015 מחסני חשמל היא הרשת הקמעונאית הראשונה שעלתה עם אתר סחר אלקטרוני המאפשר ללקוחותיה לרכוש מוצרים ולקבלם הביתה או לאוספם בסניף הקרוב אליהם וכל זאת בצורה אוטומטית, מהירה ושקופה ללקוחות.</p>
								
						<div class="about-icons"> 
                            <ul >
                                <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                                <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                                <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                                <li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                            </ul>       
               
               
	           
	           
	        
	        </div>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
								<img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
							</div>
						</div>	
                    </div>
                </div>
            </div>
