<!-- Footer -->
<footer class="page-footer text-light bg-dark blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns to organize your footer content.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">עלינו ועל האתר</h5>
  
          <ul class="list-unstyled">
            <li>
              <a [routerLink]="['contact']">צור קשר</a>
            </li>
            <li>
              <a [routerLink]="['about']">אודות</a>
            </li>
            <li>
              <a href="https://www.google.com/maps/place/%D7%94%D7%99%D7%A8%D7%A7%D7%95%D7%9F+41,+%D7%91%D7%A0%D7%99+%D7%91%D7%A8%D7%A7%E2%80%AD/@32.0969508,34.8303952,17z/data=!3m1!4b1!4m5!3m4!1s0x151d4987ee1b3567:0xa2468401d98ff724!8m2!3d32.0969463!4d34.8282065?hl=iw">איך מגיעים</a>
            </li>
            <li>
              <a [routerLink]="['']">דף הבית</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">קטגוריות</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">sport</a>
            </li>
            <li>
              <a href="#!">movie</a>
            </li>
            <li>
              <a href="#!">Restaurants</a>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> Yakov.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->