<div class="container phone-wrapper" >
    <div *ngFor="let card of this.detialsCard"  style="padding: 10px">
  <a [routerLink]="['/phone',card.id]" class="card "  style="width: 18rem;">
      <img class="card-img-top" src={{card.imagePath}}  alt="Card image cap" width="50px" height="250px">
      <div class="card-body">
        <a class="btn btn-primary">פרטים מלאים</a>
        <h5 class="card-title">{{card.model}}</h5>
        <p class="card-text">{{ card.shortDetails }}</p>
        
      </div>
    </a>
  </div>
  </div>
 